@use "../abstracts/colors" as c;


body{
    background-color: c.$white;
    position: relative;
}

.bg__pattern-top{
    background-image: url(../../images/bg-pattern-top-mobile.svg);
    width: 375px;
    height: 232px;
    position: absolute;
    top: -60px;
    left: 0;
}

.bg__pattern-bottom{
    background-image: url(../../images/bg-pattern-bottom-mobile.svg);
    width: 375px;
    height: 503px;
    position: absolute;
    bottom: -60px;
    right: 0;
}

.square__layout{
    max-width: 90vw;
    margin: 60px auto;
    text-align: center;
}

.testimonies__container{
    margin-top: 50px;
}

@media screen and (max-width: 1200px) {
    .testimony__card{
        margin: auto;

    }
    
}
